#modalBody {
    position: absolute;
    z-index: 1000;
    box-shadow: 5px 5px 6px #eee;
    top: 74px;
    width: 450px;
    bottom: 50px;
    background: white;
    text-align: center;
    border: 2px solid #eee;
    left: 500px;
    display:none;
}
