@model evaluation.ViewModels.TestViewModel
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>



<form method="POST" asp-action="InsertTest" asp-controller="Test">
	<h1>Create New Test</h1>
	  <div class="form-group">
    <select class="form-control" asp-for="TestType" 
            asp-items="@(new SelectList(Model.TestTypeList,"TestTypeId","TestTypeName"))" required>
        <option value="" class="form-control">Please select one</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pwd">Date:</label>
    <input asp-for="CreatedDate" type="date" asp-format="{0:dd/MM/yyyy}" class="form-control" required/>
  </div>

    <div class="form-group">
    <label for="pwd">Test Name:</label>
    <input type="text" class="form-control" asp-for="TestName" >
  </div>


  <button type="submit" class="btn btn-info">Submit</button>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



</form>